<ul>
    <li><a href="{% url 'schema:index' %}">Dashboard</a></li>
    <hr />
    <li><a href="{% url 'schema:manufacturer_list' %}">Manufacturers</a></li>
    <li><a href="{% url 'schema:paperstock_list' %}">Paperstocks</a></li>
    <li><a href="{% url 'schema:archive_list' %}">Archive</a></li>
    <li><a href="{% url 'schema:battery_list' %}">Battery</a></li>
    <li><a href="{% url 'schema:condition_list' %}">Condition</a></li>
    <li><a href="{% url 'schema:filter_list' %}">Filter</a></li>
    <li><a href="{% url 'schema:negativesize_list' %}">Negative size</a></li>
    <li><a href="{% url 'schema:format_list' %}">Format</a></li>
    <li><a href="{% url 'schema:flashmodel_list' %}">Flash model</a></li>
    <li><a href="{% url 'schema:enlargermodel_list' %}">Enlarger model</a></li>
    <li><a href="{% url 'schema:mount_list' %}">Mount</a></li>
    <li><a href="{% url 'schema:process_list' %}">Process</a></li>
    <li><a href="{% url 'schema:teleconvertermodel_list' %}">Teleconverter models</a></li>
    <li><a href="{% url 'schema:toner_list' %}">Toners</a></li>
    <li><a href="{% url 'schema:filmstock_list' %}">Filmstocks</a></li>
    <li><a href="{% url 'schema:shutterspeed_list' %}">Shutter speeds</a></li>
    <li><a href="{% url 'schema:developer_list' %}">Developers</a></li>
    <li><a href="{% url 'schema:lensmodel_list' %}">Lens models</a></li>
    <li><a href="{% url 'schema:cameramodel_list' %}">Camera models</a></li>
    <hr />
    <li><a href="{% url 'schema:flash_list' %}">Flash</a></li>
    <li><a href="{% url 'schema:enlarger_list' %}">Enlarger</a></li>
    <li><a href="{% url 'schema:person_list' %}">Person</a></li>
    <li><a href="{% url 'schema:teleconverter_list' %}">Teleconverters</a></li>
    <li><a href="{% url 'schema:bulkfilm_list' %}">Bulk films</a></li>
    <li><a href="{% url 'schema:mountadapter_list' %}">Mount adapters</a></li>
    <li><a href="{% url 'schema:accessory_list' %}">Accessories</a></li>
    <li><a href="{% url 'schema:lens_list' %}">Lenses</a></li>
    <li><a href="{% url 'schema:camera_list' %}">Cameras</a></li>
    <li><a href="{% url 'schema:film_list' %}">Films</a></li>
    <li><a href="{% url 'schema:negative_list' %}">Negatives</a></li>
    <li><a href="{% url 'schema:print_list' %}">Prints</a></li>
    <li><a href="{% url 'schema:scan_list' %}">Scans</a></li>
    <li><a href="{% url 'schema:order_list' %}">Orders</a></li>
</ul>
